* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border-image: 0;
  font-size: 0;
}

a, p, h1, h2, h3, h4, h5, h6, input, #menu_btn {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 120px;
}

a {
  color: #3e596a;
  text-decoration: none;
  line-height: 16px;
}

a:hover {
  color: #5a829a;
}

a:active {
  color: #3e596a;
}

section, #contacts, #socials {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 721px) and (max-width: 960px) {
  section, #contacts, #socials {
    width: 680px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1280px) {
  section, #contacts, #socials {
    width: 920px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  section, #contacts, #socials {
    width: 1240px;
  }
}

@media screen and (min-width: 1921px) {
  section, #contacts, #socials {
    width: 1880px;
  }
}

.quote {
  display: inline-block;
  font-style: oblique;
  color: #aba6aa;
  width: 80%;
}

.quote::before {
  content: "\"";
}

.quote::after {
  content: "\"";
}

#wrapper {
  height: 100%;
  width: 100%;
  min-width: 120px;
  display: table;
}

#header, #main, #footer {
  display: table-row;
  width: 100%;
  margin: 0 auto;
  background-color: #d9d7da;
}

#motto {
  display: block;
  text-align: center;
}

#main {
  height: 100%;
}

#logo {
  display: block;
  position: relative;
  width: 100%;
  height: 35vw;
  max-height: 48px;
}

@media screen and (min-width: 721px) {
  #logo {
    display: none;
  }
}

svg.owllogo {
  max-height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.owl {
  fill: #3e596a;
}

#menu_btn {
  display: block;
  height: 32px;
  background-color: #d9d7da;
  text-align: center;
  line-height: 32px;
}

@media screen and (min-width: 321px) and (max-width: 490px) {
  #menu_btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

@media screen and (min-width: 491px) {
  #menu_btn {
    display: none;
  }
}

.menu_icon_dash {
  fill: #3e596a;
  transform-origin: 50% 50%;
  opacity: 100;
  transition: transform .3s, opacity .3s;
}

#menu_icon {
  border-radius: 4px;
  width: 32px;
  height: 32px;
  transition: background-color .3s;
}

#menu_icon:hover {
  cursor: pointer;
  background-color: #3e596a;
}

#menu_icon:hover .menu_icon_dash {
  fill: #d9d7da;
}

.menuexpanded #dash_top {
  transform: translateY(190%) rotate(45deg);
}

.menuexpanded #dash_bottom {
  transform: translateY(-190%) rotate(135deg);
}

.menuexpanded #dash_middle {
  transform: rotate(135deg);
  opacity: 0;
}

.menu_link {
  display: block;
  line-height: 24px;
  color: #aba6aa;
}

.menu_link:hover {
  color: #3e596a;
}

.menu_link:active {
  color: #d9d7da;
  background-color: #3e596a;
}

@media screen and (min-width: 321px) {
  .menu_link {
    line-height: 48px;
    padding: 0 32px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
}

.menu_logo {
  display: none;
}

@media screen and (min-width: 721px) {
  .menu_logo {
    display: inline-block;
    vertical-align: top;
  }
}

.link_logo {
  position: relative;
  height: 48px;
  width: 144px;
  padding: 0 8px;
}

.menu_item {
  display: block;
}

@media screen and (min-width: 491px) {
  .menu_item {
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
  }
}

.menu_list {
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: height .3s;
}

@media screen and (min-width: 491px) {
  .menu_list {
    height: 48px;
  }
}

.motto {
  width: 40vw;
  margin: 48px auto;
}

#contacts {
  background: url(../img/footr.jpg) center no-repeat;
  background-size: cover;
}

.image {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35%;
  margin: 5%;
  padding: 2.5%;
}

.content {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 35%;
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2.5%;
}

.content h3 {
  color: #0c2b3f;
  line-height: 24px;
}

.content p {
  line-height: 24px;
  color: #3e596a;
}

.content input {
  display: block;
  background-color: #d9d7da;
  border-radius: 4px;
  opacity: .5;
  transition: opacity .3s, transform .1s;
}

.content input:hover, .content input:active, .content input:focus {
  opacity: 1;
  background-color: whitesmoke;
}

.content #fromemail, .content #lettertitle {
  width: 100%;
  margin: 16px auto;
  line-height: 32px;
  text-indent: 16px;
  border: 1px solid grey;
}

.content #submit {
  width: 100%;
  padding: 8px 32px;
  color: #3e596a;
  border-bottom: 2.66667px solid #0c2b3f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.content #submit:hover {
  border-bottom: 2.66667px solid #3e596a;
}

.content #submit:active {
  transform: translateY(1px);
}

#socials {
  background-color: #3e596a;
  display: block;
  text-align: center;
}

.social_icon {
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  text-align: center;
  transition: background-color .3s;
}

.social_icon:hover {
  background-color: #d9d7da;
}

@media screen and (min-width: 300px) {
  .social_icon {
    display: inline-block;
    width: 48px;
  }
}

.social_icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 40px;
}

#git .github_icon {
  fill: #d9d7da;
  transition: fill .3s;
}

#git:hover .github_icon {
  fill: #455a64;
}

#cp .codepen_icon {
  fill: #d9d7da;
  transition: fill .3s;
}

#cp:hover .codepen_icon {
  fill: #000000;
}

#so .bucket, #so .stack {
  fill: #d9d7da;
  transition: fill .3s;
}

#so:hover .bucket {
  fill: #bcbbbb;
}

#so:hover .stack {
  fill: #f48023;
}

#in .linkedin_icon {
  fill: #d9d7da;
  transition: fill .3s;
}

#in:hover .linkedin_icon {
  fill: #007ab9;
}

#yt .youtube_icon {
  fill: #d9d7da;
  transition: fill .3s;
}

#yt:hover .youtube_icon {
  fill: #d32322;
}

#fb .facebook_icon {
  fill: #d9d7da;
  transition: fill .3s;
}

#fb:hover .facebook_icon {
  fill: #475993;
}

.hidden {
  display: none !important;
}

.showmenu {
  height: 96px;
}

@media screen and (min-width: 321px) {
  .showmenu {
    height: 192px;
  }
}
