footer#footer
				#contacts
				#socials
					#git.social_icon
						a(href="#")
							include _git
					#cp.social_icon
						a(href="#")
							include _cp
					#so.social_icon
						a(href="#")
							include _so
					#in.social_icon
						a(href="#")
							include _in
					#yt.social_icon
						a(href="#")
							include _yt
					#fb.social_icon
						a(href="#")
							include _fb