footer#footer
				#contacts
					.image
					.content
						h3 Want to contact me?
						p Please fill in form attached below:
						input#fromemail(type="email" placeholder="enter your e-mail here...")
						input#lettertitle(type="text" placeholder="type letter's theme here...")
						input#submit(type="button" value="Send letter")
				#socials
					#git.social_icon
						a(href="#")
							include _git
					#cp.social_icon
						a(href="#")
							include _cp
					#so.social_icon
						a(href="#")
							include _so
					#in.social_icon
						a(href="#")
							include _in
					#yt.social_icon
						a(href="#")
							include _yt
					#fb.social_icon
						a(href="#")
							include _fb