header#header
			#logo
				a(href="#")
					include _svg
			nav#mainmenu
				#menu_btn
					include _menuicon
				ul.menu_list
					li.menu_item
						a(href="#").menu_link Lifeline
					li.menu_item
						a(href="#").menu_link Gallery
					li.menu_logo
						a(href="#").menu_link.link_logo
							include _svg
					li.menu_item
						a(href="#").menu_link Articles
					li.menu_item
						a(href="#").menu_link Portfolio