header#header
			#logo
			nav#mainmenu
				#menu_btn Х
				ul.menu_list
					li.menu_item
						a(href="#").menu_link Lifeline
					li.menu_item
						a(href="#").menu_link Gallery
					li.menu_logo
						a(href="#").menu_link 
							img(src="../img/owl.png", alt="Codebayowl").img_logo
					li.menu_item
						a(href="#").menu_link Articles
					li.menu_item
						a(href="#").menu_link Portfolio