<!DOCTYPE html>
html(lang="en")
	include _head
	body
		#wrapper
			include _mainmenu
			main#main
				section#lifeline
				section#gallery
				section#articles
				section#portfolio
			include _footer
		script(src="js/main.js")