<!DOCTYPE html>
html(lang="en")
	include _head
	body
		#wrapper
			include _mainmenu
			main#main
				section#lifeline
				section#gallery
				section#articles
				section#portfolio
			footer#footer
				#contacts
				#socials
		script(src="js/main.js")