// FONT INIT (for inline-blocks)
a, p, h1, h2, h3, h4, h5, h6, input, #menu_btn
{font-size: $basic; font-family: $font-main;}

// COMMON STYLES
html, body {
  height: 100%;
  width: 100%;
  min-width: 120px;
}
a {
  color: $color-main;
  text-decoration: none;
  line-height: $basic;
  &:hover {
    color: lighten($color-main, 15%);
  }
  &:active {
    color: $color-main;
  }
}
section, #contacts, #socials {
  display: block;
  margin: 0 auto;
  width: 100%;
  //outline: $test;
  @media screen and (min-width: 721px) and (max-width: 960px) {
    width: 680px;
  }
  @media screen and (min-width: 961px) and (max-width: 1280px) {
    width: 920px;
  }
  @media screen and (min-width: 1281px) and (max-width: 1920px) {
    width: 1240px;
  }
  @media screen and (min-width: 1921px) {
    width: 1880px;
  }
}

.quote {
  display: inline-block;
  font-style: oblique;
  color: $color-greydark;
  width: 80%;
  &::before {
    content:"\"";
  }
  &::after {
    content:"\"";
  }
}