// VARIABLES
$basic: 16px;
$font-main: 'Open Sans', sans-serif;
$font-heading: 'Lobster', cursive;

$color-main: #3e596a;
$color-dark: #0c2b3f;
$color-bglight: #eedec7;
$color-bgdark: #ab998f;
$color-contrast: #59423a;
$color-greylight: #d9d7da;
$color-greydark: #aba6aa;
$color-barklight: #c6a971;
$color-barkdark: #634b33;
$basic: 16px;
$test: 1px dotted red;
//SVG
